* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    background: #6175e8;
    color: #fff;
    font-family: monospace;
    font-size: 1.7em;
    font-style: oblique;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 30px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    margin-bottom: ;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 3px #0091ff, 3.5px 3.5px 3px #000;
    text-transform: ;
    word-spacing: 0.5em;
    border-radius: 2px;
}

main p {
    text-indent: 1em;
    text-align: center;
    background-color: #9facf6;
    margin-right: 15%;
    margin-left: 15%;
    padding: 1em;
    font-family: monospace;
    font-size: 1.3em;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
}

footer {
    text-align: center;
    background-color: #6175e8;
    margin-left: 15%;
    margin-right: 15%;
    padding: 1em;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 1px 6px #fff;
    border-radius: 2px;
}